<!doctype html>
<html>
	<head>
		<title>Line Chart</title>
		<script src="../Chart.js"></script>
	</head>
	<body>
		<div style="width:100%">
			<div>
				<canvas id="canvas"></canvas>
			</div>
		</div>


	<script>
		/** Color Seed **/
	    Colors = {};
	    Colors.index = 0;
	    Colors.names = {
	        aqua: "#00ffff",
	        black: "#000000",
	        blue: "#0000ff",
	        brown: "#a52a2a",
	        darkblue: "#00008b",
	        darkcyan: "#008b8b",
	        darkgreen: "#006400",
	        darkkhaki: "#bdb76b",
	        darkmagenta: "#8b008b",
	        darkolivegreen: "#556b2f",
	        darkorange: "#ff8c00",
	        darkorchid: "#9932cc",
	        darkred: "#8b0000",
	        darksalmon: "#e9967a",
	        darkviolet: "#9400d3",
	        fuchsia: "#ff00ff",
	        gold: "#ffd700",
	        green: "#008000",
	        indigo: "#4b0082",
	        khaki: "#f0e68c",
	        lightblue: "#add8e6",
	        lightgreen: "#90ee90",
	        lightpink: "#ffb6c1",
	        lime: "#00ff00",
	        magenta: "#ff00ff",
	        maroon: "#800000",
	        navy: "#000080",
	        olive: "#808000",
	        orange: "#ffa500",
	        pink: "#ffc0cb",
	        purple: "#800080",
	        red: "#ff0000",
	        yellow: "#ffff00"
	    };
	    Colors.gray = {
	        name: "gray",
	        rgb: "#7e7e7e",
	        rgba: "rgba(" + (8289918 >> 16) + "," + (8289918 >> 8) + "," + (8289918 & 255) + "," + (0.1) + ")"
	    };
	    Colors.random = function () {
	        var result = Object.keys(Colors.names)[(Colors.index) % (Object.keys(Colors.names).length)];
	        var num = parseInt(this.names[result].slice(1), 16);
	        Colors.index++;
	        var gba = [num >> 16 & 255, num >> 8 & 255, num & 255, 0.1];

	        return {
	            name: result,
	            rgb: this.names[result],
	            rgba: "rgba(" + gba[0] + "," + gba[1] + "," + gba[2] + "," + gba[3] + ")"
	        };
	    };

	    var Color1 = Colors.random();
	    var Color2 = Colors.random();
	    var Color3 = Colors.random();
	    var Color4 = Colors.random();
	    var Color5 = Colors.random();
	    var Color6 = Colors.random();
	    var Color7 = Colors.random();
	    var Color8 = Colors.random();
	    var Color9 = Colors.random();
	    var Color10 = Colors.random();
	    var Color11 = Colors.random();
	    var Color12 = Colors.random();
	    var Color13 = Colors.random();
	    var Color14 = Colors.random();
	    var Color15 = Colors.random();

		var lineChartData = {
			labels: ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21",
					 "22","23","24","25","26","27","28","29","30","31"],
			datasets: [  

		
 
 { label: "Cluster11", fillColor: Color11.rgba, strokeColor: Color11.rgb, pointColor: Colors.gray.rgb, pointStrokeColor: "#fff", pointHighlightFill: "#fff", pointHighlightStroke: Colors.gray.rgba, data: ["0.033076051480209985","0.033352453182539515","0.038854482192910496","0.026104905756648745","0.032240531117828916","0.03211252267816259","0.03284494821682573","0.028591521767300135","0.0332071207487782","0.04468551820425234","0.03599657315240745","0.03797882696615387","0.029096362225647637","0.02914804695958629","0.03679446643475465","0.03782283656093669","0.036356110910207476","0.030560682083007603","0.035451823916997874","0.02831889394076454","0.056954012126755","0.06114136056612964","0.041647874333395014","0.042501791805657975","0.036355432935056615","0.03871782397007638","0.03472425013674791","0.03601580325731368" ] },
 
{ label: "Reggression11", fillColor: Color11.rgba, strokeColor: Color11.rgb, pointColor: Colors.gray.rgb, pointStrokeColor: "#fff", pointHighlightFill: "#fff", pointHighlightStroke: Colors.gray.rgba, data: ["0.03389523352834269","0.03380201705814071","0.03370880058793872","0.03361558411773674","0.03352236764753476","0.03342915117733278","0.03333593470713079","0.03324271823692881","0.033149501766726826","0.03305628529652484","0.032963068826322856","0.032869852356120874","0.032776635885918885","0.032683419415716904","0.03259020294551492","0.03249698647531293","0.03240377000511095","0.03231055353490897","0.03221733706470698","0.032124120594505","0.03203090412430302","0.03193768765410103","0.03184447118389905","0.031751254713697066","0.031658038243495085","0.031564821773293096","0.031471605303091114","0.031378388832889126","0.031285172362687144","0.031191955892485163","0.031098739422283177" ] }
			]
		};

		var size = lineChartData.datasets[0].data.length;
		for (var i = 0; i<lineChartData.datasets.length; i++) {
			if (size > lineChartData.datasets[i].data.length) size = lineChartData.datasets[i].data.length;
		}

		for (var i = 0; i<lineChartData.datasets.length; i++) {
			if ((i-1) % 2 == 0) {
				var p = lineChartData.datasets[i-1].data[0];
				var q = lineChartData.datasets[i].data[0];
				var KL = p*Math.log(p/q);

				for (var j = 0; j < size; j++) {
					var p = lineChartData.datasets[i-1].data[j];
					var q = lineChartData.datasets[i].data[j];
					// console.log(p + " " + q);

					if (KL < Math.abs(p*Math.log(p/q))) {
						KL = Math.abs(p*Math.log(p/q));
					}
				}
				console.log("KL for " + lineChartData.datasets[i-1].label + " and " + lineChartData.datasets[i].label + " = " + KL);
			}
		}

	window.onload = function(){
		var ctx = document.getElementById("canvas").getContext("2d");
		window.myLine = new Chart(ctx).Line(lineChartData, {
			responsive: true,
			multiTooltipTemplate: "<%= datasetLabel %> - <%= value %>"
		});
	}


	</script>
	</body>
</html>
